#!/bin/bash 


function usage ()
{
        echo ""
        echo -e " Usage : $0 [-c nom_du_cluster] [-p email_pe] [-s email_copie]"
        echo -e ""
        exit 1
}

while getopts c:p:s:e:h x 2> /dev/null
do
    case $x in
        \? )    usage                   ;;
         h )    usage                   ;;
         c )    cluster="$OPTARG"       ;;
         p )    email_pe="$OPTARG"      ;;
         s )    email_copie="$OPTARG"   ;;
	 e )    excludedir="$OPTARG"    ;;
    esac
done
shift $(($OPTIND - 1))

if [ -z "${cluster}" -o -z "${email_pe}" ]; then
    usage
fi


grp="<%= @config_options['grp_search'] %>"
list_ldap_users="/tmp/.list_ldap_users"
dirs_users="/tmp/.dirs_users"
file_report="/tmp/.user-orphelin_$(date '+%d_%m_%Y')"

getent group $grp | awk -F ":" '{print$4}' | tr "," "\n" | sort -u | uniq | grep -v dummy > ${list_ldap_users}
ls <%= @config_options['path_fileset_scratch'] %> <%= @config_options['path_fileset_home'] %> | tr " " "\n" | sort -u | uniq | grep -Ev '^opt|admin|^/|^$' > ${dirs_users}

if [ ! -z ${excludedir} ];then
	dir_orphelin=$(diff ${dirs_users} ${list_ldap_users} | grep "<" | sed 's/^<\ //g' | grep -Ev ${excludedir} )
else
	dir_orphelin=$(diff ${dirs_users} ${list_ldap_users} | grep "<" | sed 's/^<\ //g' )
fi

nb_orphan=$(echo $dir_orphelin | tr " " "\n" | wc -l)

echo '<html><head>' > ${file_report}
echo '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>' >> ${file_report}
echo '<title>weekly report</title>' >> ${file_report}
echo '</head><body>' >> ${file_report}
echo '<br><br>' >> ${file_report}
echo '<a>Dear PEP,<a><br><br><br>' >> ${file_report}
echo '<a>Please find the list of orphan directory in cluster '${cluster}'<a><br><br>' >> ${file_report}

echo '<table style="width:100%;text-align:center">' >> ${file_report}
echo '<tr><th style="width:10%;background:#A5CEF7">NNI</th>' >> ${file_report}
echo '<th style="width:20%;background:#A5CEF7">Name</th>' >> ${file_report}
echo '<th style="width:10%;background:#A5CEF7">In ldap ?</th>' >> ${file_report}
echo '<th style="width:10%;background:#A5CEF7">In direction</th>' >> ${file_report}
echo '<th style="width:10%;background:#A5CEF7">Last connection</th>' >> ${file_report}
echo '<th style="width:10%;background:#A5CEF7">Volumetry home</th>' >> ${file_report}
echo '<th style="width:10%;background:#A5CEF7">Volumetry scratch</th>' >> ${file_report}
echo '</tr>' >> ${file_report}

for i in $dir_orphelin ;do
	id -u $i 2>/dev/null && inldap="YES" || inldap="NO"
	lastconnect=$(clush -bw <%= @config_options['name_front'] %> "export LANG=en_US.UTF-8;lastlog -u $i" | grep $i | awk '{print$6" "$5" "$9}' | sort -M | tail -n 1)
	name=$(getent passwd $i | awk -F ":" '{print$5}')
	if [ -z "$name" ];then
		name="??"
	fi
	direction=$(id -gn $i)
	if [ -z "$lastconnect" -o "$lastconnect" = "  " ];then
		lastconnect="??"
	fi 2>/dev/null
	volhome=$(/usr/lpp/mmfs/bin/mmlsquota -u $i <%= @config_options['fileset_home'] %> --block-size auto | tail -n 1| awk '{print$4}')
	volscratch=$(/usr/lpp/mmfs/bin/mmlsquota -u $i <%= @config_options['fileset_scratch'] %> --block-size auto | tail -n 1| awk '{print$4}')
	echo "<tr><td style='text-align:left'>$i</td><td>$name</td><td>$inldap</td><td>$direction</td><td>$lastconnect</td><td>$volhome</td><td>$volscratch</td></tr>" >> ${file_report}
done

echo '</table><br><hr><br><br>' >> ${file_report}

# Envoi du mail
#---------------
cat ${file_report} | mailx -a "From: <%= @config_options['send_from'] %>" -a "Content-Type: text/html" -c "${email_copie}" -s "[$(echo ${cluster}|sed -e 's/.*/\U&/') - Orphan Directory] : Weekly report of ${nb_orphan} orphan directory at $(date +%m/%Y)" "${email_pe}"

# Clean
#-------
rm -f ${file_report} ${list_ldap_users} ${dirs_users}


