#!/bin/bash 

function usage ()
{
        echo ""
        echo -e " Usage : $0 [-g groupe_ldap] [-c nom_du_cluster] [-p email_pe] [-s email_copie]"
        echo -e ""
	exit 1
}

while getopts g:c:p:s:h x 2> /dev/null
do
    case $x in
        \? )    usage                   ;;
         h )    usage                   ;;
	 g )    groupldap="$OPTARG"     ;;
	 c ) 	cluster="$OPTARG"	;;
	 p )	email_pe="$OPTARG"      ;;
	 s )	email_copie="$OPTARG"	;;
    esac
done
shift $(($OPTIND - 1))

if [ -z "${cluster}" -o -z "${email_pe}" ]; then
    usage
fi

log_file="/var/log/report.log"
file_report="/tmp/.user-reporting-${cluster}_${groupldap}_$(date '+%d_%m_%Y')"
file_tmp_mmrepquota="/tmp/.fmmrepquotareport-${cluster}_${groupldap}_$(date '+%d_%m_%Y')"
total_tmp_mmrepquota="/tmp/.tmmrepquotareport-${cluster}_${groupldap}_$(date '+%d_%m_%Y')"

# Report for quota gpfs
#-----------------------
/usr/lpp/mmfs/bin/mmrepquota <%= @config_options['name_gpfs'] %> --block-size auto > ${file_tmp_mmrepquota}
/usr/lpp/mmfs/bin/mmrepquota <%= @config_options['name_gpfs'] %> > ${total_tmp_mmrepquota}

# Recupération configuration sssd
# -------------------------------
cmdsssd=$(awk '/^ldap_uri/{ldap_uri=$NF};/^ldap_default_bind_dn/{ldap_default_bind_dn=$NF};/^ldap_default_authtok/{ldap_default_authtok=$NF};/^ldap_search_base/{ldap_search_base=$NF} {print ldap_uri"|"ldap_default_bind_dn"|"ldap_default_authtok"|"ldap_search_base}' /etc/sssd/sssd.conf | tail -n 1 | sed 's/ldap_default_bi  nd_dn=//g;s/ldap_default_authtok=//g;s/ldap_search_base=//g;s/ldap_default_bind_dn=//g')
IFS="|" read ldapserver loginldapserver passldapserver baseldapserver <<<  "${cmdsssd}"

# List users in group ldap 
#---------------------------
listaccount=$(ldapsearch -x -LLL -H ${ldapserver} -D ${loginldapserver} -w ${passldapserver} -b ${baseldapserver} cn=${groupldap} | awk '/^member:/ {print$2}' | awk -F "," '{print$1}'| sed 's/uid=dummy//g')
nb_users=$(echo ${listaccount} | tr " " "\n" | wc -l)
grp=$(echo ${groupldap} | awk -F "-" '{print$NF}')

# Statistiques via slurm
#-------------------------
nbusersubmit7=$(/usr/bin/sacct -X -S $(date -d "7 days ago" +"%Y-%m-%dT00:00:00") -n -o user,account| grep $grp |sort -u|wc -l)
nbusersubmit1=$(/usr/bin/sacct -X -S $(date +"%Y-%m-01T00:00:00") -n -o user,account| grep $grp |sort -u|wc -l)
IFS="|" read cluster gp cons71 cons72 cons73 cons74 cons75 cons76 <<< "$(/usr/bin/sreport job sizesbyaccount -n -P start=$(date -d "7 days ago" +"%Y-%m-%dT00:00:00") | grep $grp)"
IFS="|" read cluster gp cons301 cons302 cons303 cons304 cons305 cons306 <<< "$(/usr/bin/sreport job sizesbyaccount -n -P start=$(date +"%Y-%m-01T00:00:00") | grep $grp)"

totalhome=$(grep -E "$(echo $listaccount | sed 's/uid=//g;s/ /|/g')" ${total_tmp_mmrepquota} | awk '/home / { sum += $4 } END {print sum/1024/1024}')
totalscratch=$(grep -E "$(echo $listaccount | sed 's/uid=//g;s/ /|/g')" ${total_tmp_mmrepquota} | awk '/scratch / { sum += $4 } END {print sum/1024/1024}')

# Liste & stats répertoires projets
#------------------------------------
list_projets=$(awk -F ";" '/'${grp}'/ {print$1}' <%= @config_options['path_list_projets'] %>)
grp_projets=$(ls -l <%= @config_options['path_dir_projets'] %> | grep -E $(echo ${list_projets}| sed 's/ /|/g') | grep -v root | awk '{print$4}')
totalprojets=$(grep -E "$(echo "${grp_projets}"| sed 's/uid=//g;s/ /|/g')" ${total_tmp_mmrepquota} | awk '/projets / { sum += $4 } END {print sum/1024/1024}')

echo '<html><head>' > ${file_report}
echo '<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>' >> ${file_report}
echo '<title>weekly report</title>' >> ${file_report}
echo '</head><body>' >> ${file_report}
echo '<br><br>' >> ${file_report}
echo '<a>Dear PEP,<a><br><br><br>' >> ${file_report}

echo '<a><u>Report the consommation of cluster for account <b>'$grp'</b> :</u></a><br><br>' >> ${file_report}
echo '<table style="width:100%;text-align:center">' >>${file_report}
echo '<tr><th rowspan=2 style="width:10%;background:#A5CEF7">Scince</th>' >>${file_report}
echo '<th rowspan=2 style="width:10%;background:#A5CEF7">User submit at least 1 job</th>' >>${file_report}
echo '<th colspan=5 style="width:10%;background:#A5CEF7">Job size reported in minutes</th>' >>${file_report}
echo '<th rowspan=2 style="width:10%;background:#A5CEF7">% of cluster</th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7">0-49 CPUs</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7">50-249 CPUs</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7">250-499 CPUs</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7">500-999 CPUs</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7"> >=1000 CPUs</th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<tr><td>'$(date -d "7 days ago" +"%Y-%m-%d")'</td><td>'${nbusersubmit7}'</td><td>'$cons71'</td><td>'$cons72'</td><td>'$cons73'</td><td>'$cons74'</td><td>'$cons75'</td><td>'$cons76'</td></tr>' >>${file_report}
echo '<tr><td>'$(date +"%Y-%m-01")'</td><td>'${nbusersubmit1}'</td><td>'$cons301'</td><td>'$cons302'</td><td>'$cons303'</td><td>'$cons304'</td><td>'$cons305'</td><td>'$cons306'</td><td>'$cons307'</td></tr>' >>${file_report}
echo '</table><br><br>' >>${file_report}

echo '<a><u>Report on the overall use of file systems :</u></a><br><br>' >> ${file_report}
echo '<table style="width:80%;text-align:center">' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">File systeme</th>' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Total for '${grp}' group ( GB )</th>' >>${file_report}
echo '<tr><td> /home </td><td>'${totalhome}'</td></tr>' >>${file_report}
echo '<tr><td> /scratch </td><td>'${totalscratch}'</td></tr>' >>${file_report}
echo '<tr><td> /projets </td><td>'${totalprojets}'</td></tr>' >>${file_report}
echo '</table><br><br>' >>${file_report}

echo '<a><u>Report quota for group projets :</u></a><br><br>' >> ${file_report}
echo '<table style="width:80%;text-align:center">' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Groupe name</th>' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Usage</th>' >>${file_report}
echo '<th style="width:20%;background:#A5CEF7">Limit hard</th>' >>${file_report}
echo '</tr>' >>${file_report}
for prj in ${grp_projets};do
	IFS="|" read uquota lquota <<< "$(awk '/^'${prj}'*.*projets / {print$4"|"$6}' ${file_tmp_mmrepquota})"
	echo '<tr><td> '${prj}' </td><td>'${uquota}'</td></td><td>'${lquota}'</td></tr>' >>${file_report}
done
echo '</table><br><br>' >>${file_report}


echo '<a><u>Report information for the <b>'${nb_users}'</b> users of the <b>'${cluster}'</b> cluster belonging to the <b>'${groupldap}'</b> group :</u></a><br><br>' >> ${file_report}
echo '<table style="width:80%;text-align:left">' >>${file_report}
echo '<tr>' >>${file_report}
echo '<th colspan=3 style="background:#A5CEF7;text-align:center">Information users</th>' >>${file_report}
echo '<th colspan=2 style="background:#A5CEF7;text-align:center">Quota home</th>' >>${file_report}
echo '<th colspan=2 style="background:#A5CEF7;text-align:center">Quota scratch</th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<tr>' >>${file_report}
echo '<th style="width:15%;background:#A5CEF7">login</th>' >>${file_report}
echo '<th style="width:15%;background:#A5CEF7">status</th>' >>${file_report}
echo '<th style="width:30%;background:#A5CEF7">mail</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7;text-align:center">usage</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7;text-align:center">limit</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7;text-align:center">usage</th>' >>${file_report}
echo '<th style="width:10%;background:#A5CEF7;text-align:center">limit</th>' >>${file_report}
echo '</tr>' >>${file_report}
echo '<tr><td colspan=7 >&nbsp;<td></tr>' >>${file_report}

for nni in ${listaccount};do

	cmdldaprec=$(ldapsearch -x -LLL -H ${ldapserver} -D ${loginldapserver} -w ${passldapserver} -b ${baseldapserver} ${nni} | awk '/^uid:/ {login=$2};/^employeeType:/ {statut=$2};/^mail:/ {mail=$2}; {print login"|"statut"|"mail}' | tail -n 1 ) 	
	IFS="|" read login statut mail <<<  "${cmdldaprec}"
	IFS="|" read uquotahome lquotahome <<< "$(awk '/^'${login}'*.*home / {print$4"|"$6}' ${file_tmp_mmrepquota})"
	IFS="|" read uquotascratch lquotascratch <<< "$(awk '/^'${login}'*.*scratch / {print$4"|"$6}' ${file_tmp_mmrepquota})"
	echo '<tr><td>'${login}'</td><td>'${statut}'</td><td>'${mail}'</td><td style="text-align:center">'${uquotahome}'</td><td style="text-align:center">'${lquotahome}'</td><td style="text-align:center">'${uquotascratch}'</td><td style="text-align:center">'${lquotascratch}'</td></tr>' >> ${file_report}
	mailusercluster+="${mail} "

done

echo '</table><br><hr><br><br>' >>${file_report}
echo '<a>Please find the resume of all e-mail addresses to update the list in notes :</a><br><br>' >>  ${file_report}
echo '<a style="color:blue">' >> ${file_report}
echo ${mailusercluster[*]} | tr " " "," >> ${file_report}
echo '</a>' >> ${file_report}
echo '<br><br><br><br><br></body></html>' >> ${file_report}

# Envoi du mail
#---------------
cat ${file_report} | mailx -a "From: <%= @config_options['send_from'] %>" -a "Content-Type: text/html" -c "${email_copie}" -s "[$(echo ${cluster}|sed -e 's/.*/\U&/') |${groupldap}] : Weekly report of ${nb_users} users in the ${groupldap} at $(date +%m/%Y)" "${email_pe}"

# Clean
#-------
rm -f ${file_report} ${file_tmp_mmrepquota} ${total_tmp_mmrepquota}

